body {
    margin: 0;
    padding: 0;
    font-family: "Anta", sans-serif;
}
:root {
    --main-green: #067202;
    --secondary-green: #0c9c07;
    --hover-green: #043603;
    --outline-input: #c2c8d0;

}
/* ======================================================================================
DASHBOARD.HTML
========================================================================================*/
.dashboard-body a {
    text-decoration: none; /* Quita el subrayado predeterminado */
    color: inherit;
}

.dashboard-body .list {
    list-style: none;
    display: flex;
}

.dashboard-body .list .poster {
    height: 330px;
    margin: 0 20px;
}