body {
    margin: 0;
    padding: 0;
    font-family: "Anta", sans-serif;
}

:root {
    --main-green: #067202;
    --secondary-green: #0c9c07;
    --hover-green: #043603;
    --outline-input: #c2c8d0;

}

.left-content {
    position: fixed
}

header {
    display: none;
}

.layout {
    margin: 0;
    display: grid;
    grid-template-rows: auto 40px;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "left-container right-container"
        "left-container footer";
    height: 100vh;
}

.left-content {
    grid-area: left-container;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.right-content {
    grid-area: right-container;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content .title {
    font-family: "Anta", sans-serif;
    font-size: 80px;
    text-align: right;
    font-weight: bold;
    /* Peso de fuente de ejemplo */
    color: transparent;
    /* Hace que el texto sea transparente */
    -webkit-text-stroke: 2px white;
    /* Ancho y color del borde */
    padding: 10px;
    /* Relleno alrededor del texto */
    margin-left: auto;
}



.left-content::after {
    display: block;
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(78%);
    width: 100%;
    height: 100%;
    --s: 369px;
    --c1: #043603;
    --c2: #067202;
    --c3: #0c9c07;

    --_g: var(--c1) 10%, var(--c2) 10.5% 19%, #0000 19.5% 80.5%,
        var(--c2) 81% 89.5%, var(--c3) 90%;
    --_c: from -90deg at 37.5% 50%, #0000 75%;
    --_l1: linear-gradient(145deg, var(--_g));
    --_l2: linear-gradient(35deg, var(--_g));
    background: var(--_l1), var(--_l1) calc(var(--s) / 2) var(--s), var(--_l2),
        var(--_l2) calc(var(--s) / 2) var(--s),
        conic-gradient(var(--_c), var(--c1) 0) calc(var(--s) / 8) 0,
        conic-gradient(var(--_c), var(--c3) 0) calc(var(--s) / 2) 0,
        linear-gradient(90deg,
            var(--c3) 38%,
            var(--c1) 0 50%,
            var(--c3) 0 62%,
            var(--c1) 0);
    background-size: var(--s) calc(2 * var(--s) / 3);
}

.right-content .title {
    font-family: "Anta", sans-serif;
    font-size: 80px;
    text-align: left;
    color: var(--main-green);
    height: fit-content;
    margin-right: auto;
    padding: 10px;
}

.left-content .nav-header {
    margin-top: 100px;
    text-align: center;
    color: white;
}

.left-content nav {
    display: flex;
    justify-content: center;
}

.left-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20%;
}

.left-content nav a {
    color: black;
    background-color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 13px;
    padding-left: 50px;
    padding-right: 50px;
    transition: background-color 0.5s;
    width: 200px;
    /* Ancho fijo para los botones */
    box-sizing: border-box;
    /* Incluye el padding en el ancho total del botón */
    white-space: nowrap;
    /* Evita el salto de línea si el texto es muy largo */
    overflow: hidden;
    /* Oculta el contenido que se desborda del botón */
    text-overflow: ellipsis;
    text-align: center;
}

.left-content nav a:first-child {
    margin-right: 6px;
}

.left-content nav a:last-child {
    margin-left: 6px;
}

.left-content nav a:hover {
    background-color: rgb(212, 212, 212);
}

/* Search functionality */
.search-title {
    text-align: center;
}

#disabledBooks {
    cursor: not-allowed;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 600px;
}

.details-container h2 {
    margin-top: 0;
}

.info {
    display: flex;
    align-items: center;
    /* Nuevo */
}

.info img {
    max-width: 200px;
    height: auto;
}

.info p {
    margin: 0;
}

.genres {
    margin-top: 10px;
}

.genres strong {
    display: block;
    margin-bottom: 5px;
}

.custom-autocomplete {
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
}

.list:hover {
    cursor: default;
}

.list>div {
    width: 100%;
}

.list>div:hover {
    background-color: #067202;
    cursor: pointer;
}

.details-container>div:last-child {
    /* Nuevo */
    text-align: center;
    /* Nuevo */
}

.info .description {
    margin-left: 50px;
    /* Ajusta el margen izquierdo según tu preferencia */
    text-align: justify;
    color: #067202;
}

.infoDetails {
    color: #067202;
}

.login-body {
    background-color: #043603;
    align-items: center;
    text-align: center;
}

.register-body {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.subtitle {
    color: white;
    text-align: left;
    width: 74%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

.radio-image-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.radio-image-group label {
    cursor: pointer;
    border: 2px solid transparent;
    display: inline-block;
    /* Ajusta según necesites */
    background-color: var(--main-green);
    border-radius: 10px;
    transition: transform 0.3s ease;
    /* Transición suave */
}

.radio-image-group label img {
    display: block;
    /* Asegura que la imagen se ajuste al label */
    width: 50px;
    /* Ajusta al tamaño deseado */
    height: auto;
    transition: transform 0.3s ease;
    /* Transición suave */
}

.radio-image-group input[type="radio"]:checked+label {
    background-color: var(--hover-green);
    transform: scale(1.1);
}


/* search bar styles */
.form__input {
    width: clamp(120px, 50vw, 420px);
    height: 2.5rem;
    padding: 0 1.25rem;
    border: 1px solid var(--outline-input);
    border-radius: 5px;
    margin: 0.625rem auto;
    transition: all 250ms;
}

.form__input:focus {
    outline: none;
    border: 1px solid var(--main-green);
    border-top-color: rgba(0, 0, 0, 0.1);
}

/* When the input field (.form__input) is in focus, 
transform the .form__label and change colors*/
/* ALSO, if the input field's placeholder is NOT shown (when the input field has content),
transform the .form__label and change colors. */
.form__input:focus+.form__label,
.form__input:not(:placeholder-shown)+.form__label {
    transform: translateY(-4.50rem) scale(1);
    color: var(--main-green);
}

/* THIS PART IS IMPORTANT!! */
/* The block below hides the placeholder entirely. */
/* For all intents and purposes, the placeholder no longer exists. */
/* What shows on the input field is only the label*. */
/* HOWEVER, the input fields still recognizes that the placeholder exists!*/
/* The placeholder is just invisible. We need the placeholder to exist for
some weird CSS stuff. If we skip this, we can't make it CSS-only. */
.form__input::placeholder {
    display: none;
    color: transparent;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

/* When the placeholder is NOT shown,
style the top border. */
/* This makes the top border fade-out when the placeholder disappears. */
.form__input:not(:placeholder-shown) {
    border-top-color: rgba(0, 0, 0, 0.5);
}

.form__label {
    font-size: 1rem;
    color: grey;
    display: block;

    /* Moves the label on TOP of the placeholder */
    /* You'll need to change this as needed */
    transform: translate(0, -2.8rem);
    transform-origin: 0 0;
    /* Used later for transitions */
    transition: all 500ms;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    /* THIS PART IS IMPORTANT! */
    /* This line prevents the label from being selected.*/
    /* This is crucial because if this line doesn't exist, users can
   click on the label, instead of the input field. That's bad UX! */
    pointer-events: none;
    padding-left: 6%;
}


@media (max-width: 480px) {
    .layout {
        grid-template-rows: 100%;
        gap: 10px;
        grid-template-columns: 1fr;
        grid-template-areas:
            'left-container'
            'footer';
    }

    .right-content {
        display: none;
    }

    footer {
        display: none;
    }

    header {
        display: block;
        font-size: 40px;
        margin-top: 20px;
    }

    .left-content {
        width: 100%;
    }

    .left-content nav {
        flex-direction: column;
        margin: 0;
    }

    .left-content nav a {
        margin: 10px;
    }

    .left-content nav a:last-child {
        margin: 10px;
    }

    .left-elements {
        margin-bottom: 50%;
    }

    .form__input {
        margin-left: 20%;
        width: 50%;
    }

    .form__label {
        padding-left: 0;
        transform: translateY(-4.50rem) scale(1);
        color: var(--main-green);
    }

    .subtitle {
        font-size: 30px;
        margin-top: 0;
    }

    .title {
        display: none;
    }
}

/* Animación Carga */

@import url('//fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

.cargando {
    position: relative;
    color: #0c9c07;
    margin-top: 2em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.contenedor-loader {
    height: 6em;
}

#contenedor-carga {
    display: none;
    place-content: center;
    color: #000;
}

.loader,
.loader:before,
.loader:after {
    background: #0c9c07;
    animation: cargando 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
}

.loader {
    text-indent: -9999em;
    margin: 40% auto;
    position: relative;
    font-size: 11px;
    animation-delay: 0.16s;
}

.loader:after {
    left: 1.5em;
    animation-delay: 0.32s;
}

@keyframes cargando {

    0%,
    80%,
    100% {
        box-shadow: 0 0 #0c9c07;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em #0c9c07;
        height: 5em;
    }
}